@{
    Layout = "/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Privacidade";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Política de Privacidade</h1>

    <section class="mb-4">
        <h3>1. Informações Coletadas</h3>
        <p>Coletamos informações pessoais fornecidas diretamente pelos usuários, como nome, email, número de telefone, e informações de pagamento durante o processo de reserva. Podemos também coletar informações automaticamente, como dados de navegação e endereço IP.</p>
    </section>

    <section class="mb-4">
        <h3>2. Uso das Informações</h3>
        <p>Utilizamos as informações coletadas para processar reservas, fornecer suporte ao cliente, enviar comunicações relevantes e aprimorar os serviços oferecidos pelo nosso site.</p>
    </section>

    <section class="mb-4">
        <h3>3. Compartilhamento de Dados</h3>
        <p>Não compartilhamos informações pessoais com terceiros, exceto quando necessário para processar reservas ou cumprir obrigações legais. Isso inclui prestadores de serviços de pagamento e plataformas de análise de dados.</p>
    </section>

    <section class="mb-4">
        <h3>4. Segurança dos Dados</h3>
        <p>Implementamos medidas de segurança para proteger as informações pessoais dos usuários contra acesso não autorizado, alteração ou divulgação. No entanto, nenhum método de transmissão ou armazenamento eletrônico é completamente seguro.</p>
    </section>

    <section class="mb-4">
        <h3>5. Cookies e Tecnologias de Rastreamento</h3>
        <p>Usamos cookies e outras tecnologias de rastreamento para melhorar a experiência do usuário em nosso site, lembrar preferências e analisar o uso do site. Você pode optar por desativar os cookies nas configurações do seu navegador.</p>
    </section>

    <section class="mb-4">
        <h3>6. Direitos dos Usuários</h3>
        <p>De acordo com as regulamentações de proteção de dados, você tem o direito de acessar, corrigir ou excluir suas informações pessoais armazenadas em nosso sistema. Para exercer esses direitos, entre em contato conosco.</p>
    </section>

    <section class="mb-4">
        <h3>7. Alterações nesta Política</h3>
        <p>Esta política de privacidade pode ser atualizada periodicamente. Publicaremos as alterações nesta página e incentivamos os usuários a revisarem a política regularmente.</p>
    </section>

    <section class="mb-4">
        <h3>8. Contato</h3>
        <p>Se você tiver dúvidas ou preocupações sobre nossa política de privacidade, entre em contato conosco pelo email: privacidade@exemplo.com.</p>
    </section>

</div>