@model OfficeRoomie.Models.Cartao

@{
    ViewData["Title"] = "Deletar Cartão";
}

<h1>Deletar Cartão</h1>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    Deletar Cartão
</button>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <
